/** Style file for amarczchow.pl */
* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

html, body {
    /*overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;*/
}

body {
    font-family: 'Figtree';
}

/** HEADER */
header {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
}

.header-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 20px;
}

.header-title {
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: rgba(189, 189, 189, 0.2);
    z-index: -1;
    position: absolute;
    top: 3%;
    width: 100%;
    text-align: center;
}

.header-description {
    font-weight: 900;
    display: block;
    text-align: center;
}

/** HEAD */
/* for heading images, videos etc. */
#head {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    background-color: rgba(0,0,0,1.0);
}

/** HOME INFO */
#header-home-info {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    font-weight: 700;
}

/** HOME PHONE */
#header-home-phone {
    display: flex;
    flex-direction: row;
}

#header-home-phone > p {
    padding-left: 10px;
}

/** HOME EMAIL */
#header-home-email {
    display: flex;
    flex-direction: row;
}

#header-home-email > p {
    padding-left: 10px;
}

/** HOME HOURS */
#header-home-hours {
    display: flex;
}

#header-home-hours img {

}

#header-home-hours > p {
    padding-left: 10px;
}

/** NAVIGATION IN HEADER */
nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1em;
    color: black;
}

nav li a:hover {

}

nav li a:visited {
    color: black;
}

nav ul li ul a {
    font-weight: 600;
    font-size: 0.8em;
}

nav ul li ul h2 {
    font-size: 3em;
    font-weight: 900;
    color: rgba(28, 28, 28, 0.1);
    position: absolute;
    left: 1em;
    top: 5.5em;
}

.sub-bikes {
    display: none;
    position: absolute;
    left: 20px;
}

.sub-bikes-image {
    width: 390px;
    height: 260px;
    position: absolute;
    top: 4.1em;
    right: -100px;
}

.bikes-nav:hover ul {
    display: block;
    background: rgba(255, 255, 255, 1.0);
    width: 40em;
    height: 20em;
    margin-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bikes-nav:hover li {
    display: block;
    padding-top: 0.3em;
    margin-left: 1em;
}

.bikes-nav:hover li:last-child {
    padding-bottom: 2em;
}

.sub-garden {
    display: none;
    position: absolute;
    left: 30px;
}

.sub-garden-image {
    width: 390px;
    height: 260px;
    position: absolute;
    top: 4.3em;
    right: -100px;
}

.garden-nav:hover ul {
    display: block;
    background: rgba(189, 241, 209, 1.0);
    width: 40em;
    height: 20em;
    margin-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.garden-nav:hover li {
    display: block;
    padding-top: 0.3em;
    margin-left: 1em;
}

.garden-nav:hover li:last-child {
    padding-bottom: 2em;
}

.sub-mil {
    display: none;
    position: absolute;
    left: 30px;
}

.sub-mil-image {
    width: 200px;
    height: 280px;
    position: absolute;
    top: 2.5em;
    right: -40px;
}

.mil-nav:hover ul {
    display: block;
    background: khaki;
    width: 40em;
    height: 20em;
    margin-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mil-nav:hover li {
    display: block;
    padding-top: 0.3em;
    margin-left: 1em;
}

.mil-nav:hover li:last-child {
    padding-bottom: 2em;
}

.sub-fire {
    display: none;
    position: absolute;
    left: 30px;
}

.sub-fire-image {
    width: 390px;
    height: 260px;
    position: absolute;
    top: 4.1em;
    right: -100px;
    /*border-radius: 48%;*/
}

.fire-nav:hover ul {
    display: block;
    background: rgba(20, 20, 20, 1.0);
    width: 40em;
    height: 20em;
    margin-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid rgb(56, 56, 56);
    border-left: 1px solid rgb(56, 56, 56);
    border-right: 1px solid rgb(56, 56, 56);
}

.fire-nav:hover li {
    display: block;
    padding-top: 0.3em;
    margin-left: 1em;
}

.fire-nav:hover li a {
    color: white;
}

.fire-nav:hover h2 {
    color: rgb(38, 38, 38);
}

.sub-service {
    display: none;
    position: absolute;
    left: 30px;
}

.sub-service-image {
    width: 280px;
    height: 260px;
    position: absolute;
    top: 3.8em;
    right: -100px;
}

.service-nav:hover ul {
    display: block;
    background: white;
    width: 40em;
    height: 20em;
    margin-top: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.service-nav:hover li {
    display: block;
    padding-top: 0.3em;
    margin-left: 1em;
}

/** FOOTER */
footer {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    background-color: ivory;
}

.footer-top {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr;
    /*grid-column: 1 / span 2;*/
}

/** SECTION NEWS */
#news {
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    background-color: rgba(255, 128, 125, 0.7);
}

/** SECTION ROWERY */
#rowery {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(225,225,225, 1.0);
}

/** SECTION OGROD */
#ogrod {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(128, 129, 120, 1.0);
}

/** SECTION MILITARIA */
#militaria {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(198, 33, 202, 0.2);
}

/** SECTION FAJERWERKI */
#fajerwerki {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(11, 12, 15, 0.3);
}

#fajerwerki p {
    /*max-width: fit-content;*/
    font-size: 14em;
}

/** SECTION SERWIS */
#serwis {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(65, 65, 65, 0.2);
}

/** SECTION SKLEP */
#sklep {
    width: 100%;
    min-height: 400px;
    max-height: fit-content;
    background-color: rgba(240, 10, 255, 0.2);
}

/** SECTION FIRMA */
#company {
    margin-left: 100px;
    margin-top: 40px;
}

#company li {
    list-style: none;
}

#company a {
    font-size: 0.7em;
    text-decoration: none;
    color: darkred;
}

#home-phone-footer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#home-phone-footer p {
    margin-left: 20px;
}

#home-email-footer {
    display: flex;
    flex-direction: row;
}

#home-email-footer p {
    margin-left: 20px;
}

#home-hours-footer {
    margin-top: 20px;
    font-size: 0.8em;
}

/** SOCIALS SECTION */
#socials {
    margin-top: 40px;
}

/** COLLABORATION SECTION */
#collaboration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#collaboration a {
    /*margin-left: 100px;*/
    flex-basis: 100px;
}

/** COLLABORATION ICONS */
.stiga-logo {
    width: 40px;
    height: 10px;
}

.storm-logo {
    width: 60px;
    height: 10px;
}

.rozkwit-logo {
    width: 20px;
    height: 14px;
}

.cedrus-logo {
    width: 60px;
    height: 10px;
}

.northtec-logo {
    width: 60px;
    height: 10px;
}

.kellys-logo {
    width: 60px;
    height: 18px;
}

.kands-logo {
    width: 60px;
    height: 12px;
}

/** LOGO IMAGE */
.logo-image {
    width: 100px;
    height: 60px;
    display: block;
    margin: 0;
}

.link-logo-image {
    display: inline-block;
    margin-left: 80px;
    margin-top: 20px;
}

/** LOGO FOOTER */
#logo-footer {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.logo-image-footer {
    width: 360px;
    height: 210px;
    filter: invert(0.1) opacity(0.03);
}

/** HOME ICONS */
.home-icon {
    width: 18px;
    height: 18px;
}

/** SOCIAL ICONS */
.social-icon {
    width: 18px;
    height: 18px;
}

/** PEOPLE ICON */
.people-icon {
    width: 30px;
    height: 30px;
}

/** FILTER GRAYSCALE */
.grayscale {
    filter: grayscale(1);
}

/** FILTER CONTRAST */
.contrast {
    filter: contrast(1.8);
}

/** FILTER BRIGHTNESS */
.brightness {
    filter: brightness(0.2);
}

/* FILTER INVERT */
.invert {
    filter: invert(1);
}

/** BACKGROUND TEXT FOR SECTIONS */
.background-text {
    font-size: 16em;
    font-weight: 800;
    filter: opacity(0.1);
    z-index: -1;
}

.hidden-text {
    display: none;
}

/** COPYRIGHTS */
.copy {
    width: 95%;
    text-align: right;
    font-size: 0.8em;
}
