/cache/
/tmp/
/logs/
/administrator/logs/
/configuration.php
/backups/
/administrator/
/api/
/cgi-bin/
/cli/
/components/
/dru/
/files/
/images/
/includes/
/language/
/layouts/
/libraries/
/media/
/modules/
/phocacartattechements/
/phocacartdowlnoad/
/phocacartdownloadpublic/
/plugins/
/templates/
*.sql
*.zip
.vscode
.idea/
.DS_Store
.htaccess
Thumbs.db
/vendor/
node_modules/
/templates/amar/index.php